torch==2.6.0
torchvision==0.21.0
numpy==1.26.4
Pillow==10.2.0
timm==1.0.12 
mediapipe==0.10.21
opencv-python==4.10.0.84
scipy==1.15.1
scikit-learn==1.6.1
faiss-cpu==1.10.0 
insightface==0.7.3
onnxruntime==1.20.1 
grad-cam==1.5.4 
matplotlib==3.10.0
albumentations==2.0.5
reportlab==4.2.5
streamlit==1.42.0
tqdm==4.67.1